body{
    margin: 0%;
    font-family: 'Hanken Grotesk', sans-serif;
}
.logo{
    width: 5%;
    margin-left: 100px;
}
.kotta{
    width: 5%;
}
.start-order{
    background-color: rgb(197, 0, 0);
    color: white;
    border-radius: 25px;
    border: none;
    width: 150px;
    height: 50px;

}

.lts-btn{
    height: 80px;
}
.res{
    width: 100%;
    height: auto;
}
.red-line{
    width: 10px;
    height: 20px;
    background-color: red;
    margin-right: 7px;
}
.wel-kfc{
    background-color: #f8f7f5;
}
.kfc-m-logo{
    margin-right: 25%;
}
.nav-div{
    height: 150px;
}
.brow-div{
    height: auto;
}
.brow-head{
    height: 200px;
}
.horizon-line{
    color: black;
    width: 50%;
    height: 20pxs;
    
}
.card-div{
    margin-left: 10px;
}
.arrow{
    width: 15%;
}
.cards-div{
    height: 550px;
    width: 100%;
}
.crous-back{
    background-color: black;
    width: 100%;
    padding-left: 0px;
}
.red-line{
    width: 20px;
    height: 50px;
    margin-left: 10px;
    background-color: red;
}
#news-slider {
    margin-top: 80px;
}



.owl-controls .owl-buttons {
    text-align: center;
    margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: 50%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #333;
    font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
    content: "\f105";
}
.arrow1{
    filter: contrast(0%);
    width: 15%;
}
.kfc-man{
    float: left;
}
.vl {
    border-left: 1px solid rgb(175, 175, 175);
    height: 35px;
  }
